@import url('https://fonts.googleapis.com/css?family=Roboto');

/*------- Presets/large-scale stuff ------------------------------------------*/
html {
  box-sizing: 'border-box'
} /*change the calculation of the width of an element to include padding and border.*/

body {
  margin: 0px;
  /* background-color: #495867; /*145C9E*/
  background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* W3C */
}

/* #canvas {
  background: linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
}

#app {
  z-index: 1;
} */

.center {
  text-align: center;
}


/*------- Header -------------------------------------------------------------*/
#headers, .input-parent, .menu-btns {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 3px #495867;
  color: #EEEAEA;
}
#title {
  font-size: 8em;
  opacity: .95;
}
#subtitle {
  font-size: 2.5em;
}


/*------- Input --------------------------------------------------------------*/
.input-parent, .menu-btns {
  opacity: .75;
  font-size: 6.5em;
}

.input-parent {
  background: -webkit-linear-gradient(90deg, #EC6F66 10%, darkmagenta 90%);
}

#input-parent {
  /* display: flex; */
  /* justify-content: space-around; */
}
/*
Setting margin to 'auto' is a common trick.
In most instances, setting to auto means 'take up as much space as possible'.
If you do this on both sides, you end up with a centered content.
We could also have written this in the margin shorthand,
which specifies the margin-top, right, bottom and left respectively ---
 margin: 0 auto 0 auto; --- or, simply, margin: 0 auto;.
*/
#player-input {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 6.5em;
}
input::-webkit-input-placeholder {
color:  #EEEAEA !important;
text-align: center;
}
input:-moz-placeholder { /* Firefox 18- */
color:  #F3A183 !important;
text-align: center;
}
input::-moz-placeholder {  /* Firefox 19+ */
color:  #F3A183 !important;
text-align: center;
}
input:-ms-input-placeholder {
color:  #F3A183 !important;
text-align: center;
}
/* Optimization: https://codepen.io/cemerson/pen/Gjnlo */
#submit {
  font-size: 6.5em;
}

/*------- Guesses ------------------------------------------------------------*/
#guesses {

}
#guesses-list {

}
.guess {

}
ul {
  list-style: none;
  padding: 0;
}

/*------- Menu Buttons -------------------------------------------------------*/

.menu-btns {
  background: -webkit-linear-gradient(90deg, darkmagenta 10%, #EC6F66 90%);
  margin-bottom: 7%;
}
#reset {

}
#hint {

}

/*------- Footer -------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-around;
}

#byline {
  margin-top: 3%;
}

img {
  display: inline;
  width: 200px;
  height: 100px;
}
#footer {
  width: 100%;
  border-top: solid 2px black;
  background: linear-gradient(90deg, #516395 10%, #614385 90%);
  box-shadow: 1px 1px 3px #495867;
  /* position: fixed; */
  bottom: 0;
}
